<%= render '/shared/banner' %>
<div class="main-container">
  <div class="header"><h1>Let's discover new ways to be drunk!</h1></div>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card">
        <h2><%= cocktail.name %></h2>
        <%= link_to "Make it!", cocktail_path(cocktail), class: "button" %>
      </div>
    <% end %>
  </div>
  <%= link_to "Add en cocktail", new_cocktail_path %>
</div>
