// Specific CSS for your home-page

.main-container {
  width: 70%;
  margin: 0 auto;
}

.item-a {
  grid-area: header;
}
.item-b {
  grid-area: card;
}
.item-c {
  grid-area: footer;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas:
    "header header header header"
    "card card card card"
    "footer footer footer footer";
}

