<nav class="main-bar">
  <div class="logo">
    <%= image_tag "alcool.png", class: 'd-inline-block align-top', width: 50, height: 50 %>
    <%= link_to '::Drinker', cocktails_path, class: "navbar-brand" %>
  </div>
</nav>
