.button {
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  background-color: black;
  border: solid black 1px;
  color: white;
  font-weight: 100;
  &:hover {
    background-color: white;
    color: black;
  }
}
